<header class="site-header js-header">
  <div class="site-brand js-site-brand">
    <a href="http://www.middlebury.edu">
      <img src="{{ "/img/midd-shield.svg" | prepend: site.baseurl }}"
      alt="Middlebury College" width="100">
    </a>
  </div>

  <div class="site-title-nav js-nav">
    <div class="container">
      <h1 class="site-title">
        <a href="{{ site.baseurl }}/">{{site.title}}</a>
      </h1>

      <input type="checkbox" class="nav-handler" id="nav-handler" />

      <label
        for="nav-handler"
        class="nav-toggler"
        aria-label="Toggle navigation"
      >
        <span class="close-icon" aria-hidden="true">
          <img src="{{ "/img/icon-close.svg" | prepend: site.baseurl }}"
          alt="Close icon">
        </span>
        <span class="menu-icon" aria-hidden="true">
          <img src="{{ "/img/icon-menu.svg" | prepend: site.baseurl }}"
          alt="Menu icon">
        </span>
        <span class="nav-toggler-text" aria-hidden="true">Menu</span>
      </label>

      <nav class="site-nav">
        <ul class="site-nav-list">
          {% for item in site.data.nav %}
          <li class="site-nav-item">
            <a href="{{item.link}}" class="site-nav-link {{item.class}}"
              >{{item.text}}</a
            >
          </li>
          {% endfor %}
        </ul>
        <a
          href="{{site.apply_link}}"
          class="button button--primary site-header-button js-header-app-btn"
          >Apply Now</a
        >
      </nav>
    </div>
  </div>
</header>
