<header class="site-header">

    <div class="site-brand">
      <a href="http://middlebury.edu">
        <img src="img/midd-shield.svg" alt="Middlebury College">
      </a>
    </div>

    <h1 class="site-title"><a href="{{ site.baseurl }}/">{{site.title}}</a></h1>

    <input type="checkbox" class="nav-handler" id="nav-handler">

    <label for="nav-handler" class="nav-button">
      <span class="close-icon">
        <img src="/img/icon-close.svg" alt="Close icon">
      </span>
      <span class="menu-icon">
        <img src="/img/icon-menu.svg" alt="Menu icon">
      </span>
      <span class="nav-button-text">Menu</span>
    </label>

    <nav class="site-nav">
      <a href="#overview">Overview</a>
      <a href="#people">People</a>
      <a href="#application">Application</a>
      <a href="#contact">Contact</a>
    </nav>

  </div>

</header>
