.site-footer {
  border-top: 4px solid $black;
  padding-top: 1.5rem;
  padding-bottom: 2rem;

  p {
    font-size: 14px;
    line-height: 21px;
  }
}

.footer-row {
  @include media(md) {
    display: flex;
  }
}

.footer-info {
  @include media(md) {
    margin-right: 160px;
  }
}

.footer-social {

}
