.site-footer {
  border-top: 8px solid $black;
  padding-top: 24px;
  padding-bottom: 32px;

  p {
    font-size: 14px;
    line-height: 21px;
  }
}

.footer-row {
  @include clearfix();
}

.footer-info {
  @include media(md) {
    float: left;
    margin-right: 160px;
  }
}

.footer-social {
  @include media(md) {
    float: left;
  }
}
