* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  font-size: 1rem;
  font-family: Courier New, Courier, monospace;
  background-color: $white;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin: 0;
}
