@import 'variables';
@import 'mixins';

@import '../node_modules/normalize.css/normalize';

@import 'global';

// @import 'layout';
@import 'header';
@import 'nav';
@import 'footer';
@import 'social';
@import 'button';

.container {
  max-width: 700px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;

  @include media(md) {
    // padding-left: 10px;
    // padding-right: 10px;
  }
}

.section {
  margin-bottom: 88px;

  &:last-of-type {
    margin-bottom: 120px;
  }

  p {
    margin-bottom: 24px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.2px;
    margin-bottom: 24px;
    margin-top: 48px;
  }

  h3 {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
    margin-top: 24px;
    margin-bottom: 4px;
  }

  & > * {
    margin-top: 0;
  }

  ul {
    margin-bottom: 24px;
  }
}

.section-title {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 24px;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 56px;
  padding-top: 32px;
}

.section-figure {
  margin: 0;
  margin-bottom: 72px;
  margin-left: -30px;
  margin-right: -30px;
  height: 89px;

  img {
    object-fit: cover;
    height: 100%;
    // object-position: -170px;

    @include media(md) {
      // object-position: 0;
    }
  }

  @include media(md) {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}

.section ul {
  padding-left: 24px;

  @include media(md) {
    padding-left: 80px;
  }

  li {
    margin-bottom: 24px;
    position: relative;

    &:before {
      content: '-';
      position: absolute;
      right: calc(100% + 8px);
      top: 2px;
    }
  }
}

.section-action {
  margin-top: 72px;
  text-align: center;

  &.headroom {
  }

  &.headroom--not-top {
    width: 100%;
    position: fixed;
    top: 137px;
    left: 0;
  }
}

.person {
  margin-top: 72px;
}

.person-name.person-name {
  margin-bottom: 0;
}

.person-figure {
  margin-bottom: 32px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}
